/**********
GENERAL 
***********/

a {
	text-decoration: none;
}

a:visited, a:hover, a:active {
	color: black;
}

img {
	max-width: 100%
}

body {
	margin: 10px
}

/**********
HEADING 
***********/



/**********
NAVIGATION 
***********/

#logo {
	vertical-align: middle;
	overflow: auto;
	border-top: 20px black;
	background-position: 0 0 100% 0;
	background-repeat: no-repeat;
	background-size: 20px 100%;
	background-image: linear-gradient ()
	padding-top: 5px;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding: 20px;
	margin-left: -5px;
}

.Nav {
	float: right;
}


/**********
BODY
***********/

#banner img {
	width: 100%;
}

h3 {
	text-align: center;
	margin-bottom: 10%;
}

.media, .links {
	text-align: center;
	margin-bottom: 20%;
}

/**********
Footer
***********/

.main-footer {
	font-size: 0.75em;
	display: inline;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

#foot a:visited {
	color: #ccc;
}