<<<<<<< HEAD
=======

>>>>>>> master
/*************
BASE STYLES
*************/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-footer {
  margin-top: auto;
 }

/*************
FLEXBOX
*************/

.container {
	display: flex;
<<<<<<< HEAD
	flex-wrap: wrap;
	flex-direction: row;
=======
	flex-wrap: wrap;	
>>>>>>> master
}


/*************
MEDIA QUERIES
*************/

<<<<<<< HEAD
@media (min-width: 769px) {

	.container{
		display: flex;

	}

}

@media (min-width: 1025px) {

	.container{
		display: flex;

	}

}
=======

@media (max-width: 768px) {

	.links {
		display: flex;
		flex-direction: column;
		list-style-type: circle;
		text-align: left;
		margin-bottom: 10px;
	}

	.employee {
		display: flex;
		flex-direction: row;
		image
	}
}


@media (min-width: 769px) {

	.container{
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
	}

	.col {
		flex: 1;
	}
}
>>>>>>> master
