/**************************
		GENERAL 
**************************/

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

/**************************
		HEADER
**************************/

/*** Dropdown Menu Build ***/

/* Dropdown Button */
.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Changing colors on dropdown */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
	display: block;
}

.headerLinks {
	display: inline;
}

.grad {
    height: 25px;
    background: linear-gradient(#d9d9d9, #808080); 
}

#banner img {
	width: 100%;
	padding-top: 5px;
}

/**************************
		BODY
**************************/

.social a {
	margin-right: 10px;
}

.links a {
	color: #808080;
}

.employeeImg img {
	margin-right: 10px;
}

/**************************
		Footer
**************************/

footer {
	background-color: #e6e6e6;
	padding: 20px;
	text-align: center;
}

.footerLinks {
	display: inline;
}

/**************************
		Grid Layout
**************************/

@media (min-width: 949px) {
	header {
		grid-area: head;
	}

	.whyClarity {
		grid-area: main;
	}

	.employee {
		grid-area: secondary;
	}

	.connect {
		grid-area: social;
	}

	.usefulLinks {
		grid-area: aside;
	}

	footer {
		grid-area: foot;
	}

	.grid {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 2fr 1fr;
	  	grid-gap: 10px;
	  	grid-template-areas:
	  		"head head"
	  		"main social"
	  		"main aside"
	  		"secondary secondary"
	  		"foot foot";
	}

	.connect, .usefulLinks {
		border: solid black 2px;
		padding-left: 5px;
		margin: 5px;
	}

	.connect, .usefulLinks h2 {
		text-align: center;
	}

	.social {
		padding-bottom: 10px;
	}

	.whyClarity, .employee {
		margin-left: 20px;
	}
}


