/**************************
		GENERAL 
**************************/

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

/**************************
		HEADING 
**************************/

/*** Dropdown Menu Build ***/

/* Dropdown Button */
.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Changing colors on dropdown */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
	display: block;
}
.grad {
    height: 25px;
    background: linear-gradient(#808080, #d9d9d9); 
}

.city {
	padding-top: 5px;
}

/**************************
		BODY
**************************/

/*.connect, .usefulLinks {
	border: solid black 2px;
	padding-left: 5px;
	margin: 5px;
}*/

.social a {
	margin-right: 10px;
}

.links a {
	color: #808080;
}
/**************************
		Footer
**************************/
