/**********
GENERAL 
***********/

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
}

a:active {
	color: black;
}

img {
	max-width: 100%
}

body {
	margin: 10px
}

/**********
HEADING 
***********/



/**********
NAVIGATION 
***********/

#logo {
	vertical-align: middle;
	overflow: auto;
}

ul {
	display: inline;
	list-style: none;
}

li {
	display: inline;
	padding: 20px;
	margin-left: -5px;
}

.Nav {
	float: right;
}

/**********
BODY
***********/

#banner img {
	width: 100%;
}

.Textbox {
	width: 53.5%;
}



.Connect, .Links {
	float: right;
	position: relative;
	text-align: center;
	/*width: 46.5%;*/
	width: 40%;
    border: 2px solid gray;
    padding: 25px;
    margin: 25px;
}

.Connect li, .Links li {
	display: inline;
}

.SecondaryContainer {
	content: "";
	display: table;
	clear: both;
}

/**********
Footer
***********/

#foot {
	font-size: 0.75em;
	display: inline;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

#foot a:visited {
	color: #ccc;
}